torch --index-url https://download.pytorch.org/whl/cu126
torchvision --index-url https://download.pytorch.org/whl/cu126
torchaudio --index-url https://download.pytorch.org/whl/cu126
numpy
opencv-python
flask
Flask-Cors
Flask-SocketIO
sounddevice
scikit-build
cvzone
ultralytics
deep-sort-realtime
